*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    text-decoration: none;  
}
.nav-2{
    width: 100%;
    height: 80px;
    background: linear-gradient(rgba(255, 252, 252, 0.702),rgba(36, 31, 31, 0.7));
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-attachment: fixed;
}
.logo a{
font-size: 20px;
padding-left: 10px;
/* text-shadow: 1px 1px 3px #ff0000, 2px 2px 4px #040404; */
      color: #000000;
      font-weight: bolder;

}
.navbar ul li{
display: inline-block;
list-style: none;

}  
.navbar ul li a{
font-size:large ;
}

.navbar ul li a{
/* text-shadow: 1px 1px 3px #f50000, 2px 2px 4px #000000; */
color: #e80000;
font-size: 20px;
font-weight: bold;
}
.navbar {
   margin-left: 500px;
}
@media screen and (max-width:1130px){
.navbar {
    margin-left: 100px;
}
}
@media screen and (max-width:760px){
.navbar {
    margin-left: 50px;
}
}
@media screen and (max-width:710px){
.navbar {
    margin-left: 30px;
}
}
.navbar ul li{
margin-right:65px;
}
@media screen and (max-width:867px){
.navbar ul li{
    margin-right:55px;
}
}
@media screen and (max-width:840px){
.navbar ul li{
    margin-right:40px;
}
}


.btn{
margin-right: 30px;
display: inline-block;
align-items: center;
background-color:#d6d3d3;
border-radius: 24px;
border-style: none;
box-shadow: rgba(0, 0, 0, .5) 0 4px 6px -10px,rgba(0, 0, 0, .3) 0 6px 10px 0,rgba(0, 0, 0, .9) 0 1px 18px 0;   
width: 100px;
height: 40px; 
}

@media screen and (max-width:862px){
.btn{
    margin-right:15px;
}
}


.btn a{
/* text-shadow: 1px 1px 3px #f50000, 2px 2px 4px #000000; */
color: #010101;
cursor: pointer;
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: 20px;
font-weight:bolder;
justify-content: center;
letter-spacing: .25px;
line-height: normal;
padding: 2px 8px;
text-align: center;
text-transform: none;
}
.btn:hover{
background-color: #a23d3d;
/* border: 3px solid red; */
}
.btn a:hover{
/* text-shadow: 1px 1px 3px #080808, 2px 2px 4px #000000; */
color: #d0c6c6;
}
@media screen and (max-width:690px){
.btn a{
    font-size:18px;
    font-weight: bold;
    color: #030202;
    padding:8px ;
}
}
@media screen and (max-width:690px){
.navbar ul{
    display: none;
}
}
.mobile{
display: none;
}
@media screen and (max-width:690px){

.mobile{
    display: block;
}
.navbar ul{
    display: none;
} 
}
.mobile ul li{
display: inline-block;
list-style: none;

}
.mobile  {
margin-top: 10px;
}
.mobile ul li a{
font-size:large ;
}

.mobile ul li a{
text-shadow: 1px 1px 3px #f50000, 2px 2px 4px #000000;
color: #e80000;
font-size: 20px;
font-weight: bold;
}

.mobile ul{
text-align: center;
}
.mobile ul li{
  margin-left:20px ;
  margin-right:20px ;
}
@media screen and (max-width:445px){
.mobile ul li{
    margin-left:10px ;
    margin-right:10px ;
}
}
@media screen and (max-width:385px){
.mobile ul li{
    margin-left:8px ;
    margin-right:8px ;
}
.mobile ul li a{
color:#c41010 ;
font-size: 17px;
font-weight: 800;
}
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #ffffff;
    
}
.contact-us{
    width: 325px;
    height: 450px;
    background-color: #cecccc;
    padding: 30px 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.09) 0px -23px 25px 16px inset, rgba(0, 0, 0, 0.09)
    0px -36px 30px 0px inset, rgba(0, 0, 0, 0.5) 0px -79px 40px 0px inset,
     rgba(0, 0, 0, 0.13) 0px 2px 1px, rgba(0, 0, 0, 0.12) 0px 4px 2px, 
     rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 5px 8px,
      rgba(0, 0, 0, 0.09) 0px 5px 5px;
}
.log h1{
    text-align: center;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 1px 1px 3px #f4f3f3, 2px 2px 4px #000000;
}
.input-2{
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    background-color: transparent;
    font-size: 20px;
    border-bottom:2px solid black ;
    color: #000000;
    text-shadow: 1px 1px 3px #f4f3f3, 2px 2px 4px #000000;
}
.input-1{
    margin-top: 20px;
}
.input-1 p{
    font-size: 18px;
   font-weight: bolder;
   letter-spacing:1px;
}
.remember {
    margin-top: 15px;
    display: flex;
   
   justify-content: center;
}
.remember a{
    display:block;
    text-decoration: none;
    padding-top: 10px;
    color: #000000;
    text-shadow: 1px 1px 3px #f4f3f3, 2px 2px 4px #000000;
    font-weight: bolder;
    font-size: 20px;
}

.btn-10{
    margin-top: 20px;
}
.btn-11{
    display: inline-block;
    align-items: center;
    background-color: #6f6a6a;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .5) 0 4px 6px -10px,rgba(0, 0, 0, .3) 0 6px 10px 0,rgba(0, 0, 0, .9) 0 1px 18px 0;   
    width: 100%;
    height: 40px; 
}
.btn-11 a{
    color: #010101;
    cursor: pointer;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight:bolder;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    padding: 2px 8px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
}
.register{
    margin-top: 30px;
    text-align: center;
}
.register p{
    font-size: 18px;
    font-weight: 900;
}
.register a{
    color: #000000;
    text-shadow: 1px 1px 3px #f4f3f3, 2px 2px 4px #000000;
    font-size: 21px;
    font-weight: bolder;
    display: inline-block;
    padding-top: 10px;
    
}
.social-link{
    text-align: center;
}
.social-link .bx{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #c2bdbd;
    margin: 20px 5px 0; 
    color: #9a0000;
    cursor: pointer;
    transition: .5s;
}
.social-link .bx:hover{
    background-color: #6a0606;
    color: #fffefe;
    transform: translateY(-7px);
}
.social-link p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #000000;
    text-shadow: 1px 1px 3px #f4f3f3, 2px 2px 4px #000000;
}